<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd
 		http://www.springframework.org/schema/context
  		http://www.springframework.org/schema/context/spring-context-3.0.xsd
  		http://www.springframework.org/schema/aop 
	    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	    http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
	<context:annotation-config />
	<context:component-scan base-package="com.epam.spring.core" />
	<aop:aspectj-autoproxy />
	<import resource="auditorium.xml" />

    <tx:annotation-driven transaction-manager="txManager"/>
    
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
          <property name="dataSource" ref="dataSource"/>
    </bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource"/>
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>

	<bean id="Event"
		class="com.epam.spring.core.model.Event" scope="prototype"/>

	<bean id="DiscountService"
		class="com.epam.spring.core.controller.services.DiscountService"
		p:discountList-ref="discountList" />

	<util:list id="discountList"
		value-type="com.epam.spring.core.controller.DiscountStrategy">
		<ref bean="BirthdayStrategy" />
		<ref bean="EveryTicketStrategy" />
	</util:list>

	<bean id="BirthdayStrategy"
		class="com.epam.spring.core.controller.discount.BirthdayStrategy" />

	<bean id="EveryTicketStrategy"
		class="com.epam.spring.core.controller.discount.EveryTicketStrategy" />

	<bean id="UserService" class="com.epam.spring.core.controller.services.UserService" />
	
	<bean id="CounterService" class="com.epam.spring.core.controller.services.CounterService" />

	<bean id="EventService" class="com.epam.spring.core.controller.services.EventService" />
	
	<bean id="UserAccountService" class="com.epam.spring.core.controller.services.UserAccountService" />

	<bean id="BookingService" class="com.epam.spring.core.controller.services.BookingService"
		p:discountService-ref="DiscountService" p:vipPersent="${BasePrice.vipPersent}" />

	<bean id="AuditoriumService"
		class="com.epam.spring.core.controller.services.AuditoriumService"
		p:auditoriums-ref="auditoriumsList" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
			</list>
		</property>
		<property name="ignoreResourceNotFound" value="true" />
		<property name="systemPropertiesMode">
			<util:constant
				static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		</property>
	</bean>
</beans>