<div>
<table class="login_table">
	<tr>
	<td>You login as: $login</td>
	<td>You role: $login_roles</td>
	<td>
	<form action="../login" method="post">
	  #parse("/WEB-INF/fragments/_token.vm")
	    <input type="submit" value="login">
	</form></td>
	<td>
	<form action="../logout" method="post">
	  #parse("/WEB-INF/fragments/_token.vm")
	    <input type="submit" value="logout">
	</form>
	</td>
	</tr>
</table>
</div>